<div style="width: 600px, height: 400px, background-color: rgb(220,220,220);">

Bienvenido a Caravanas Trenque Lauquen,

A continuación debera hacer click en el siguiente enlace para generar su contraseña que le permitira operar en nuestra plataforma:

Usuario: <%= @user %>
Contraseña: <%= @password %>

Muchas gracias
 Atte. Caravanas - Trenque Lauquen
</div>