			<div class="menu">
			<%= link_to(users_path, :class => "links")  do %>
    			<div class="menuBoton" id="usuarios" style="background-color: #1abc9c">
					<div class="menuHeader">
						<h2>Usuarios</h2>
					</div>
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					<h1>--</h1>
				</div>
			<% end %>
			<%= link_to(pedidos_path, :class => "links")  do %>
			<div class="menuBoton" id="pedidos" style="background-color: #3498db">
				<div class="menuHeader">
					<h2>Pedidos</h2>
				</div>
				<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
				<h1>20</h1>
			</div>
			<% end %>
			<%= link_to(profiles_path, :class => "links")  do %>
			<div class="menuBoton" id="perfil" style="background-color:#9b59b6">
				<div class="menuHeader">
					<h2>Perfil</h2>
				</div>
				<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
			</div>
			<% end %>
		</div>