/* line 2, /Users/Lichus/Documents/proyectos/caravanas/app/assets/stylesheets/navbar.scss */
#custom-bootstrap-menu {
  background-color: white;
}

/* line 5, /Users/Lichus/Documents/proyectos/caravanas/app/assets/stylesheets/navbar.scss */
#custom-bootstrap-menu.navbar-default .navbar-brand {
  color: black;
}

/* line 8, /Users/Lichus/Documents/proyectos/caravanas/app/assets/stylesheets/navbar.scss */
#custom-bootstrap-menu.navbar-default {
  font-size: 14px;
  background-color: white;
  border-width: 0px;
  border-radius: 0px;
}

/* line 14, /Users/Lichus/Documents/proyectos/caravanas/app/assets/stylesheets/navbar.scss */
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a {
  color: black;
  background-color: white;
}

/* line 18, /Users/Lichus/Documents/proyectos/caravanas/app/assets/stylesheets/navbar.scss */
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: #ffae00;
  background: -webkit-linear-gradient(top, #e69600 0%, #ffae00 100%);
  background: linear-gradient(to bottom, #e69600 0%, #ffae00 100%);
}

/* line 25, /Users/Lichus/Documents/proyectos/caravanas/app/assets/stylesheets/navbar.scss */
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #ffbb00;
}

/* line 31, /Users/Lichus/Documents/proyectos/caravanas/app/assets/stylesheets/navbar.scss */
#custom-bootstrap-menu.navbar-default .navbar-toggle {
  border-color: #ffbb00;
}

/* line 34, /Users/Lichus/Documents/proyectos/caravanas/app/assets/stylesheets/navbar.scss */
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
  background-color: #ffbb00;
}

/* line 38, /Users/Lichus/Documents/proyectos/caravanas/app/assets/stylesheets/navbar.scss */
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffbb00;
}

/* line 41, /Users/Lichus/Documents/proyectos/caravanas/app/assets/stylesheets/navbar.scss */
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #ffffff;
}

/* line 46, /Users/Lichus/Documents/proyectos/caravanas/app/assets/stylesheets/navbar.scss */
.navbar-brand img {
  width: 50px;
  height: 50px;
  margin-top: -10px;
}
