<div class="page-header">
  <%= link_to stock_pedidos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end -%>
  <%= link_to @stock_pedido, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end -%>
  <h1>Editar stock_pedido</h1>
</div>

<%= render 'form' %>
