<div class="container">
  <h1>Contactanos</h1>
  <div class="row contacto">
  	<div class="col-md-6">
  		<div class="contacto-mensajes">
  			<%= render 'mensajes/form', mensaje: @mensaje %>
  		</div>
  	</div>
  </div>
</div>

