<div style="background-color: white" class="container">
<h1>Contactanos</h1>
	<div class="col-md-6">
		<div class="contacto-mensajes">
			<%= render 'mensajes/form', mensaje: @mensaje %>
		</div>
	</div>
	<div class="col-md-6">
    <div class="animations-element">
      <div class="subject photography">
        <div class="header cf">
          <h4 class="date"><i class="fa fa-info"></i> Donde estamos?</h4>
        </div>
	    <div id="map"></div>
	   </div>
	   </div>
	</div>
  </div>



<script>
	function initMap() {
        var uluru = {lat: -35.974579, lng: -62.731706};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2Ohl5HJVRlp3Cx6PBubcoI7bBsX4_7x8&callback=initMap">
</script>