<div class="col-md-3">
<h5>Caravanas Trenque Lauquen - <%= Time.now.to_formatted_s(:year) %></h5>
</div>
<div class="col-md-3">
<img src=<%= asset_path('afip.jpg') %> />
</div>
<div class="col-md-3">
<h5>Desarrollado por Lisandro Gurman</h5>
</div>