<div class="container">
<div id="nosotros-texto">
  <h1>QUIENES SOMOS</h1>
  <div class="row">
    <div class="col-md-6">
      <span>
Caravanas Trenque Lauquen es la marca que identifica un grupo de trabajo que se dedica a fabricar elementos para la identificación animal.
Nuestro objetivo, mas allá de lograr una óptima calidad en los productos confeccionados, es sin dudas garantizar al productor/cliente que utilizando nuestros productos no sólo se asegurará de utilizar lo mejor del mercado, sino que por sobre todo estará formando parte y accediendo a nuestro equipo de trabajo, el cual está dedicado full time a solucionar los imponderables que a cualquiera de nuestros clientes pudiera generársele.

      </span>
    </div>
    <div class="col-md-6">
      <span>
La atención de las demandas e inquietudes de nuestros clientes son tratadas con celeridad, y abordadas con profesionalismo por cada uno de los integrantes del grupo; lo que le asegura que en todo momento contará con el soporte y asistencia buscados.
No obstante lo dicho, lo que nos interesa destacar es que somos personas plenamente convencidas que el éxito de nuestra empresa radica en la relación y atención personalizada a las inquietudes de nuestros clientes.
      </span>
    </div>
  </div>
<div class="row">
  <div id="nosotros-imagen" class="contenedor-animacion cf">
    <video  autoplay loop class="animation-element slide-right imagen">
      <source src=<%= asset_path('caravana.mp4') %> type="video/mp4"  />
    </video>
  </div>
</div>
</div>


