<section class="seccion-principal" data-section-name="principal">
	<video playsinline autoplay muted loop poster="<%= asset_path('fondo.png') %>" id="video">
	    <source src="<%= asset_path('video.mp4') %>"type="video/mp4">
	</video>

	<div class="titulo-principal">
		<h1>Caravanas</h1>
		<h3>Trenque Lauquen</h3>
	</div>
</section>
<section class="seccion-inicio" data-section-name="inicio" id="seccion-inicio">
	<p>seccion de inicio</p>
</section>
<section class="seccion-nosotros" data-section-name="nosotros" id="seccion-nosotros">
	<p>seccion de nosotros</p>
</section>
<section class="seccion-productos" data-section-name="productos" id="seccion-productos">
	<p>seccion de productos</p>
	<div>
		<img src=<%= asset_path('caravana.png') %>>
	</div>
</section>

<section class="seccion-contacto" data-section-name="contacto" id="seccion-contacto">
	<p>seccion de contacto</p>
	<div>
		<%= render 'mensajes/form', mensaje: @mensaje %>
	</div>
</section>

<script>
$(function() {
  $.scrollify({
		section:"section",
});


  $(".pagination a").on("click",function() {
    $.scrollify.move($(this).attr("href"));
  });



});


</script>