<head>
    <%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<section class="seccion-principal" data-section-name="principal">
<%= render 'principal' %>
</section>
<section class="seccion-inicio" data-section-name="inicio" id="seccion-inicio">
	<%= render 'nosotros' %>
</section>
<section class="seccion-productos" data-section-name="productos" id="seccion-productos">
	<p>seccion de productos</p>
	<div>

	</div>
</section>

<section class="seccion-contacto" data-section-name="contacto" id="seccion-contacto">
	<p>seccion de contacto</p>
	<div class="contacto-mensajes">
		<%= render 'mensajes/form', mensaje: @mensaje %>
	</div>
</section>

<script>
//$(function() {
/*  $.scrollify({
		section:"section",
});


  $(".pagination a").on("click",function() {
    $.scrollify.move($(this).attr("href"));
  });



});*/


</script>