<div class="page-header">
  <%= link_to insumos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end -%>
  <%= link_to @insumo, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end -%>
  <h1>Editar insumo</h1>
</div>

<%= render 'form' %>
