<div class="page-header">
  <%= link_to nota_creditos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end -%>
  <%= link_to @nota_credito, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end -%>
  <h1>Editar nota_credito</h1>
</div>

<%= render 'form' %>
