<div class="articuloContenedor">
			<div class="articuloContenedorLinea"></div>
			<div class="articuloContenedorContenido"></div>
				<div class="articuloImagen">
					<img src=""/>
				</div>
				<div class="articuloDescripcion">
					<div class="articuloDescripcionNombre">Producto</div>
					<div class="articuloDescripcionDescripcion">Este es un producto muy lindo</div>
				</div>
				<div class="articuloControles">
					<table>
						<thead>
							<th>Cantidad</th>
							<th>Precio</th>
							<th>Subtotal</th>
						</thead>
						<tbody>
							<tr>
							<td><input></input></td>
							<td>$10</td>
							<td>$100</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
</div>