.cheque-formato{
	height: 200px;
	width: 450px;	
	background-color: rgba( 230,230,230);
	float: left;
}

.cheque-monto{
	position: relative;

}

.cheque-fecha{
	position: relative;
}

.cheque-banco{
	position: relative;
}

.cheque-numero{
	position: relative;
}

