	$pedidos: #387A36;
	$remitos: #387A36;
	$usuarios: #387A36;
	$facturas : #387A36;

	.panel-heading.pedidos {
			color: $pedidos;
			background-color: white;
	}

	.pedidos{
		color:  $pedidos;
		background-color: whitesmoke;
	}

	.panel-heading.usuarios {
		color: white;
		background-color: $usuarios;
	}

	.usuarios{
		color: white;
		background-color: $usuarios;
	}

	.panel-heading.remitos {
			color: white;
			background-color: $remitos;
	}

	.remitos{
		color: white;
		background-color: $remitos;
	}

	.panel-heading.facturas {
			color: white;
			background-color: $facturas;
	}

	.facturas{
		color: white;
		background-color: $facturas;
	}