@font-face {
    font-family: 'Bauhaus';

    src: url(font-path('Bauhaus.ttf')) format('truetype');
    src: url(font-path('Bauhaus.woff')) format('woff'); /* Pretty Modern Browsers */
    font-weight: normal;
    font-style: normal; 
}


.titulo-principal{
	font-family: 'Bauhaus';
	text-align: center;
	z-index: 20;
	color: black;
	position: absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.container{
	padding-top: 20px;
}


.seccion-inicio{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #FFF;
	top: 100%;
}
.seccion-nosotros{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #FFF;
	top: 200%;
}
.seccion-productos{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #FFF;
	top: 300%;
}
.seccion-contacto{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #FFF;
	top: 400%;
}